
body{
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
}
#sky{
	position: relative;
	width:600px;
	height:400px;
	background: linear-gradient(to bottom, hsla(199,84%,88%,1) 0%, hsla(9,87%,97%,1) 55%, hsla(7,88%,77%,1) 91%, hsla(5,79%,79%,1) 100%);
	border:1px solid #aaa;
	z-index: -3;
}
#sun{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	bottom:160px;
	right:40px;
	z-index: -2;
	background: linear-gradient(to bottom, hsla(62,84%,62%,1) 0%, hsla(7,88%,55%,1) 82%, hsla(5,79%,56%,1) 100%);
	opacity: 0.8;
	box-shadow: 0 0 80px 40px hsla(7,88%,70%,0.4);
}
#hud{
	position:absolute;
	top:0;
	left:0;
}
.menu{
	font-size:30px;
	margin:100px 90px;
	position:absolute;
	top:0;
	left:0;
	padding:0 0 0 0;
	opacity: 0.9;
}
#levelMenu{
	margin-top:140px;
	width:420px;
	text-align: center;
	display: none;
}
.congrats{
	font-size: 26px;
}
#nxtLevel{
	position:relative;
	margin-top:12px;
}
#congrats{
	margin-bottom:12px;
}
#rank img{
	margin-left:6px;
}
input{
	font-size:26px;
	border-radius: 6px;
}
input[type="button"]{
	margin-top:10px;
	padding:4px;
	width:100%;
	text-shadow: 0 -1px 0 #666;
	cursor: pointer;
	border-radius: 6px;
}
input[type="text"]{
	padding-left:6px;
}
.error{
	display: none;
	color:red;
	font-size:14px;
	text-align: right;
	font-weight: bold;
}
#gameOver{
	position:absolute;
	top:110px;
	left:0;
	width:600px;
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 #aaa,
	       0 2px 0 #c9c9c9,
	       0 3px 0 #999,
	       0 4px 0 #b9b9b9,
	       0 5px 0 #888,
	       0 6px 1px rgba(0,0,0,.1),
	       0 0 5px rgba(0,0,0,.1),
	       0 1px 3px rgba(0,0,0,.3),
	       0 3px 5px rgba(0,0,0,.2),
	       0 5px 10px rgba(0,0,0,.25),
	       0 10px 10px rgba(0,0,0,.2),
	       0 20px 20px rgba(0,0,0,.15);
	display: none;
}